main {
  text-align: center;
}

.tabuleiro div input {
  right: 50px;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid rgb(215, 8, 204);
  border-radius: 6px;
  font-size: 30px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.containerPersonagens div input {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 30px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  background-color: rgb(255, 152, 228);
}

h1 {
  font-size: 3rem;
  font-variant: small-caps;
  color: white;
}

.insta {
  position: fixed;
  margin-top: 80px;
  margin-left: 50px;
  width: 245px;

}

.logo {
  position: fixed;
  margin-top: 50px;
  margin-left: 900px;
  width: 250px;

}

.bolo {
  position: fixed;
  margin-top: 22px;
  margin-left: 900px;
  width: 200px;
  top: 250px;
}


.button {
  background-color: blueviolet;
  color: pink;
}

.containerPersonagens div input {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 30px;
  cursor: pointer;
}